
/*=====================
    29.Responsive CSS start
==========================*/

@media(max-width: 1430px) and (min-width: 1368px) {
  .banner-timer {
    .timer {
      margin-top: 45px;
    }
  }
}

@media(max-width: 1367px) {
  h2 {
    font-size: 32px;
  }
  .home-slider {
    &:hover {
      .slick-prev, .slick-next {
        transform: scale(1.8);
      }
    }
  }
  .banner-timer {
    background-position: right;
    .banner-text {
      h2 {
        font-size: 28px;
      }
    }
  }
}

@media(max-width: 1199px) {
  section ,.section-t-space{
    padding-top: 60px;
  }
  .section-b-space {
    padding-bottom: 60px;
  }
  .home-slider {
    &.fullpage {
      .home {
        .slider-contain {
          h1 {
            font-size: 35px;
          }
          p {
            max-width: 450px;
            font-size: 14px;
          }
          .btn-solid {
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

@media(max-width: 991px) {
  .dashboardtab {
    .col-auto{
      padding: 0px 15px 15px;
      flex: 0 0 100%;
      max-width: 100%;
    }
  .tab-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }
  }
  h2 {
    font-size: 28px;
  }
  section ,.section-t-space{
    padding-top: 50px;
  }
  .section-b-space {
    padding-bottom: 50px;
  }
  .banner-timer {
    .banner-text {
      h2 {
        font-size: 20px;
      }
    }
    .timer{
      span {
        width: 65px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  .dashboard-left {
    position: fixed;
    height: 100vh;
    top: 0;
    left: -350px;
    background-color: white;
    z-index: 99;
    padding: 0 35px 35px;
    max-width: 350px;
    transition: all 0.5s ease;
    box-shadow: 0 0 8px 0 $round-border;
    .block-title {
      h2 {
        display: none;
      }
    }
    .block-content {
      border:none;
      padding: 0;
      margin-top: 20px;
      ul {
        li {
          &:hover {
            padding-left: 0;
          }
        }
      }
    }
  }
  .account-sidebar {
    display: block;
  }
  .typography_section {
    .row {
      > div {
        &:first-child {
          .typography-box {
            &:last-child {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
  .product-slick, .rtl-product-slick,  .product-right-slick, .rtl-product-right-slick {
    .slick-prev, .slick-next {
      opacity: 1;
    }
    .slick-prev {
      left: 20px;
    }
    .slick-next {
      right: 20px;
    }
  }
  .order-up {
    order: -1;
  }
  .bundle {
    .bundle_img {
      justify-content: center;
    }
    .bundle_detail {
      .theme_checkbox {
        padding: 0 20%;
      }
    }
  }
  .checkout-page {
    .checkout-form {
      .checkout-details {
        margin-top: 30px;
      }
    }
  }
}

@media(max-width: 767px) {
  section ,.section-t-space{
    padding-top: 40px;
  }
  .section-b-space {
    padding-bottom: 40px;
  }
  .banner-timer {
    padding-top: 5px;
    padding-bottom: 5px;
    .banner-text {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: rgba(255, 255, 255, 0.65);
      h2 {
        font-size: 15px;
      }
    }
    .timer-box{
      text-align: center;
    }
    .timer{
      margin-top: 5px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 20px;
      p{
        font-size: 14px;
      }
      span {
        width: 40px;
        .padding-l{
          padding-left: 10px;
        }
      }
    }
  }
  .home-slider {
    &.fullpage {
      .slick-dots {
        display: flex;
        bottom: 70px;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        li {
          button {
            &:before {
              color: #0a0100;
            }
          }
        }
      }
    }
  }
  .home-slider {
    &:hover {
      .slick-next {
        right:80px;
      }
      .slick-prev {
        left: 80px;
      }
    }
  }
  .tap-top {
    bottom: 70px;
    right: 20px;
  }
}

@media (max-width: 577px) {

  .detail-cannabis {
    .detail_section {
      > div {
        padding: 30px 25px;
      }
    }
  }
  #fb-root{
    display: none;
  }
  .section-b-space {
    padding-bottom: 30px;
  }
  section, .section-t-space {
    padding-top: 30px;
  }
  header {
    &.left-header {
      .top-header {
        height: 70px;
        .header-dropdown {
          li {
            padding: 0;
          }
          .mobile-wishlist, .mobile-account {
            img {
              display: none;
            }
            i {
              display: block;
            }
          }
        }
      }
      .main-menu {
        .menu-left {
          .mobile-logo {
            position: absolute;
            padding: 0 !important;
            transform: unset;
            right: unset;
            left: 15px;
            margin-right: 0;
            top: 16px;
          }
          .navbar {
            position: absolute;
            right: 15px;
            padding: 0 !important;
            top: 22px;
          }
        }
      }
    }
    &.video-header {
      .top-header {
        .header-dropdown {
          li {
            padding: 0;
          }
        }
      }
    }
    &.header-tools {
      .top-header {
        .header-dropdown {
          li {
            padding: 0;
          }
        }
      }
    }
  }
  .demo-right {
    a {
      right: 14px;
      width: 30px;
      height: 44px;
      line-height: 15px;
      letter-spacing: 2px;
      font-size: 12px;
      padding: 8px 4px 10px;
    }
  }
  .offer-box {
    display: none;
  }
  .advertise-section {
    .full-banner {
      padding-top: 50px;
      padding-bottom: 50px;
      .banner-contain {
        padding: 30px 10px;
        h2 {
          font-size: 40px;
          margin-bottom: 0;
          margin-top: -7px;
        }
        h3 {
          font-size: 20px;
          margin-bottom: 3px;
        }
        h4 {
          font-size: 16px;
          letter-spacing: 0.03em;
        }
      }
    }
  }
  .setting-sidebar {
    width: 35px;
    height: 35px;
    i {
      font-size: 19px;
    }
  }
  .dark-light {
    width: 35px;
    height: 35px;
  }
  .portfolio-padding {
    padding-bottom: 15px;
  }
  .portfolio-section {
    .isotopeSelector {
      margin-bottom: 15px;
    }
  }
  .portfolio-section {
    .filter-button {
      padding: 0 15px;
      font-size: 16px;
      line-height: 30px;
    }
  }
  .service_slide {
    .home-slider {
      .slider-contain {
        height: 58vh;
      }
    }
  }
  .portfolio-section {
    &.metro-section {
      .product-box {
        .cart-wrap {
          a  {
            i {
              font-size: 18px;
              padding: 7px;
            }
          }
          button {
            i {
              font-size: 18px;
              padding:7px;
            }
          }
        }
      }
    }
  }
  .filter-section {
    .filter-container {
      ul {
        &.filter  {
          > li {
            padding: 0 10px;
            > a {
              font-size: 16px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
  .tab-left {
    .theme-tab {
      .left-side {
        .left-tab-title {
          margin-bottom: 15px;
        }
      }
    }
  }
  h2 {
    font-size: 24px;
  }
  .tools-service {
    &.absolute-banner {
      .absolute-bg {
        padding-bottom: 20px;
        box-shadow: 0 0 8px 0 #ddd;
      }
    }
    .service-block {
      + .service-block {
        margin-top: 20px;
      }
    }
    .service-block, .service-block1 {
      svg {
        margin-bottom: 7px;
      }
    }
  }
  .top-header {
    .header-dropdown {
      li {
        i {
          padding-right: 0;
          font-size: 18px;
        }
      }
    }
  }
  .tools-parallax-product {
    &.full-banner {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
  header {
    &.header-gym {
      position: relative;
      background-color: $black;
      .main-menu {
        padding: 0;
        z-index: 9;
        .brand-logo {
          left: 0;
          transform: unset;
        }
      }
      .top-header {
        .header-dropdown {
          li {
            a {
              i {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    &.header-6 {
      .main-menu {
        .brand-logo {
          position: relative;
          left: 0;
          transform: none;
        }
      }
    }
    &.header-7 {
      position: relative;
      z-index: unset;
      background-color: $font-color;
      .main-menu {
        .menu-left {
          .navbar {
            padding: 15px 45px 15px 0 !important;
          }
        }
      }
      .main-nav-center {
        .toggle-nav {
          top: -70px;
        }
      }
      .game-layout {
        background-color: $font-color;
      }
    }
    &.green-gradient {
      .top-header {
        .header-dropdown {
          li {
            padding: 0;
          }
        }
      }
    }
  }
  .gym-banner {
    .collection-banner {
      .contain-banner {
        padding-left: 15px;
        padding-right: 15px;
        h2 {
          font-size: 25px;
          margin-bottom: -3px;
        }
      }
    }
  }
  .banner-furniture {
    &.gym-banner {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .gym-product {
    .part-cls {
      > div {
        &:nth-last-child(-n + 3) {
          .product-box {
            margin-top: 30px;
          }
        }
      }
    }
    .partition-cls {
      > div {
        &:nth-child(2) {
          margin-top: 30px;
        }
      }
    }
    .product-box {
      &:hover {
        transform: unset;
      }
    }
  }
  .layout3-menu{
    .main-menu{
      .menu-left{
        width: calc(100vw - 32px);
        .main-menu-right{
          .toggle-nav{
            right: 15px;
            .sidebar-name{
              display: none;
            }
          }
        }
      }
      > div{
        &:nth-child(2){
          position: absolute;
          left: 54%;
          right: 50%;
          transform: translate(-50%, 0);
          top: 0;
        }
        &:nth-child(3){
          height: 0;
        }
      }
    }
    .brand-logo {
      left: 35%;
    }
  }
  .search-overlay {
    > div {
      .closebtn {
        top: 15px;
        right: 30px;
      }
    }
  }
  .btn-solid, .btn-outline {
    padding: 7px 15px;
  }
  .product-box,.product-wrap {
    .product-detail, .product-info {
      .color-variant {
        padding-top: 10px;
      }
    }
  }
  footer {
    .btn-solid {
      padding: 13px 29px;
    }
    p {
      line-height: 20px;
    }
    &.footer-black {
      .below-section {
        padding-top: 75px;
      }
      &.footer-light {
        .subscribe {
          h4 {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .partition1{
    margin-bottom: -15px;
    > div {
      margin-bottom: 15px;
    }
  }
  .theme-modal {
    .modal-dialog {
      .quick-view-modal {
        .product-right {
          margin: 15px 0 10px 0;
          h2 {
            font-size: 18px;
            margin-bottom: 10px;
          }
          h3 {
            font-size: 22px;
            margin-bottom: 10px;
          }
          .color-variant {
            li {
              height: 25px;
              width: 25px;
            }
          }
          .border-product {
            padding-top: 10px;
            padding-bottom: 15px;
          }
          .size-box {
            margin-top: 5px;
            margin-bottom: 5px;
          }
          .product-description {
            .qty-box {
              margin-top: 5px;
            }
          }
        }
      }
    }
    &.cart-modal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            .modal-bg {
              &.addtocart {
                .media {
                  a  {
                    img {
                      max-width: 105px;
                      margin-bottom: 10px;
                    }
                  }
                  .media-body {
                    .buttons {
                      a {
                        padding: 4px 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.exit-modal {
      .media {
        align-items: center;
        img {
          width: 25%;
        }
        .media-body {
          h4 {
            font-size: 16px;
            margin-bottom: 0;
          }
          h2 {
            margin-bottom: 2px;
          }
          h5 {
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
      .modal-dialog {
        .modal-content {
          .modal-body {
            .modal-bg {
              padding: 12px;
            }
          }
        }
      }
    }
  }
  .dark-layout {
    .footer-theme2 {
      .col {
        padding: 0 15px;
      }
      .subscribe-wrapper {
        .subscribe-block {
          padding: 10px 20px 20px 10px;
        }
      }
    }
  }
  .white-layout {
    .small-section {
      .footer-theme2 {
        .col {
          padding: 0 15px;
        }
      }
    }
  }
  .footer-theme2 {
    .col {
      padding: 0 15px;
    }
    .form-p {
      padding: 0;
    }
    &.footer-border {
      padding: 15px 0;
    }
    .subscribe-block {
      padding: 0 75px;
    }
    .footer-link {
      h4 {
        padding-bottom: 10px;
      }
      li {
        padding-right: 20px;
      }
    }
    .footer-link-b {
      h4 {
        padding-bottom: 15px;
      }
      li {
        padding-right: 20px;
      }
    }
  }
  .social-white {
    margin-top: 25px;
  }
  .category-border {
    div {
      .category-banner {
        .category-box {
          h2 {
            font-size: 30px;
            padding: 10px 20px;
          }
        }
      }
    }
  }
  .filter-main-btn {
    span {
      font-size: 14px;
    }
  }
  .category-bg {
    .image-block {
      &:after {
        display: none;
      }
    }
    .contain-block {
      &:after {
        display: none;
      }
    }
    .order-section {
      div {
        order: 1;
        &:nth-child(2){
          order:4;
          margin-bottom: 30px;
        }
        &:nth-child(3){
          order:3;
        }
        &:nth-child(4){
          order:2;
          margin-bottom: 30px;
        }
        &:nth-child(5){
          order:5;
        }
        &:nth-child(6){
          order:6;
        }
      }
    }
    .contain-block {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .theme-tab {
    .tab-title {
      margin-bottom: 25px;
    }
  }
  .full-banner {
    padding-top: 50px;
    padding-bottom: 50px;
    &.parallax-layout {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .banner-contain {
      background-color: rgba($white, 0.2);
      padding: 25px;
      .btn-solid, .btn-outline {
        padding: 10px 20px;
      }
    }
    &.p-left, &.p-right {
      .banner-contain {
        float: none;
      }
    }
    .banner-contain {
      h2 {
        font-size: 65px;
      }
      h3 {
        font-size: 40px;
      }
      h4 {
        font-size: 18px;
        padding-top: 0;
        letter-spacing: 0.3em;
      }
    }
  }
  .pet-parallax {
    .full-banner {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .home-slider {
    .home {
      height: 58vh;
    }
    .slider-contain {
      height: 58vh;
      h1 {
        font-size: 30px;
      }
    }
    &:hover {
      .slick-next {
        right:70px;
      }
      .slick-prev {
        left: 70px;
      }
      .slick-prev, .slick-next {
        transform: scale(1.5);
      }
    }
    &.fullpage {
      .slick-dots {
        display: flex;
        bottom: 60px;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
      }
      .home {
        .slider-contain {
          text-align: center;
          justify-content: center;
          padding-left: 0;
          > div {
            background-color: rgba(0, 0, 0, 0.15);
            padding: 30px 50px;
          }
          h1, p {
            color: $white;
          }
          h1 {
            font-size: 22px;
          }
          p {
            max-width: 330px;
            font-size: 12px;
          }
          .btn-solid {
            padding: 10px 15px;
          }
        }
      }
    }
  }
  .height-85 {
    .home-slider {
      .home {
        height: 60vh;
      }
      .slider-contain {
        height: 60vh;
      }
    }
  }
  .background {
    .contain-bg {
      background-color: unset;
      padding-top: 0;
      padding-bottom: 0;
      margin: 10px 0;
      &:hover {
        background-color: unset;
      }
    }
  }
  .theme-tab {
    .tab-content {
      .product-tab {
        .tab-box {
          flex: 0 0 100%;
          max-width: calc(100% - 10px);
          &:nth-last-child(-n + 2) {
            margin: 0 5px 10px;
          }
          &:nth-last-child(-n + 1) {
            margin: 0 5px 0;
          }
          .product-box2 {
            img {
              height: 150px;
            }
            .media {
              .media-body {
                a {
                  h6 {
                    margin-right: 10px;
                  }
                }
                .color-variant {
                  li {
                    margin-top: 7px;
                    height: 18px;
                    width: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .alert {
    right: 0 !important;
    left: 0;
    max-width: 90% !important;
  }
  .tap-top {
    width: 35px;
    height: 35px;
    padding: 2px;
    font-size: 19px;
  }
  .layout2-logo {
    padding-right: 0;
  }
  .absolute-banner {
    margin-top: 0;
    .absolute-bg {
      box-shadow: none;
      padding-bottom: 0;
    }
    &.banner-padding {
      padding-top: 0;
    }
  }
  .box-layout-body {
    .box-layout {
      margin-top: 0;
    }
  }
  .full-scroll-menu {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .layout-8 {
    padding: 0 15px;
  }
  .layout-20 {
    padding: 0;
  }
  .addcart_btm_popup {
    display: none !important;
  }
  .color-picker {
    a {
      &.handle {
        width: 30px;
        height: 35px;
        i {
          margin-left: 7px;
          font-size: 17px;
        }
      }
    }
  }
  .full-scroll-footer {
    display: none;
  }
  // inner pages //
  .template-password {
    #container {
      #login {
        margin-bottom: 0;
      }
    }
  }
  .error-section {
    padding: 100px 0;
    h1 {
      font-size: 100px;
    }
    h2 {
      margin: 20px 0;
      font-size: 18px;
    }
  }
  .about-page {
    .about-head {
      display: inline-block;
      width: 100%;
      text-align: center;
      .theme-breadcrumb {
        .breadcrumb {
          justify-content: center;
          padding-top: 10px;
          padding-bottom: 0;
        }
      }
    }
  }
  .blog-detail-page {
    .blog-detail {
      .post-social {
        li {
          display: block;
          & + li {
            padding-left: 0;
            margin-left: 0;
            border-left: none;
          }
        }
      }
    }
  }
  .collection {
    .collection-block {
      .collection-content {
        p {
          margin-bottom: 10px;
        }
        h4, h3 {
          margin-bottom: 5px;
        }
      }
    }
  }
  .collection-product-wrapper {
    .product-wrapper-grid {
      .product-box {
        margin-top: 30px;
      }
    }
    .product-top-filter {
      .product-filter-content {
        .search-count {
          padding: 10px 20px 10px 20px;
          h5 {
            font-size: 14px;
            line-height: 20px;
          }
        }
        .product-page-per-view, .product-page-filter {
          width: 100%;
          select {
            padding: 10px 20px 10px 20px;
          }
          &:before {
            top:11px;
          }
        }
        .product-page-per-view {
          border-right:1px solid $round-border !important;
          border-bottom: 1px solid $round-border;
        }
      }
      .popup-filter {
        .search-count {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .product-page-per-view {
          border-bottom: 1px solid $round-border;
          width: 100%;
          select {
            border-right: none;
            padding-top: 10px;
            padding-bottom: 10px;
          }
          &:before {
            top:14px;
          }
        }
        .product-page-filter {
          width: 100%;
          border-top: none;
          select {
            padding-top: 10px;
            padding-bottom: 10px;
          }
          &:before {
            left:unset;
            right: 35px !important;
            top:14px;
          }
        }
      }
    }
  }
  .cart-section {
    .cart-buttons {
      > div {
        &:last-child {
          padding-right: 15px
        }
      }
      .btn-solid {
        padding: 7px 8px;
      }
    }
  }
  .wishlist-section {
    .btn-solid {
      padding: 7px 8px;
    }
  }
  .collection-wrapper {
    .order-up {
      order:-1;
    }
  }
  .checkout-page {
    .checkout-form {
      .checkout-details {
        padding: 15px;
      }
    }
  }
  .search-product {
    > div {
      &:nth-last-child(5) {
        margin-top: 30px;
      }
    }
  }
  .product-box {
    .img-wrapper {
      .lable-block {
        .lable3 {
          font-size: 12px;
          padding: 13px 8px;
        }
      }
    }
    .img-block {
      .lable-wrapper {
        .lable1, .lable2 {
          padding: 6px 9px 8px 15px;
          font-size: 12px;
        }
      }
    }
  }
  .tab-product, .product-full-tab {
    .tab-content {
      &.card-header-tabs {
        p {
          padding: 15px 0;
        }
      }
    }
  }
  .tab-product {
    .tab-content {
      &.card-header-tabs {
        p {
          line-height: 1.3;
        }
      }
    }
  }
  .slider-right-nav {
    .slick-slide {
      &:first-child {
        > div {
          margin-top: 15px;
        }
      }
    }
  }
  .lookbook {
    .lookbook-block {
      .lookbook-dot {
        .dot-showbox {
          width: 90px;
          top:-70px;
          .dot-info {
            h5 {
              line-height: 16px;
            }
          }
        }
      }
    }
  }
  .layout7-product {
    .product-box {
      .details-product {
        padding: 5px;
      }
      &:hover {
        .details-product {
          animation: none;
        }
      }
    }
  }
  .padding-cls {
    padding-left: 15px;
    padding-right: 15px;
  }
  .success-text {
    i {
      font-size: 40px;
    }
    p {
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 1.2;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
  .order-success-sec {
    >div  {
      margin-top: 15px;
    }
  }
  .delivery-sec {
    padding: 15px;
    margin-top: 15px;
    h3, h2 {
      font-size: 20px;
    }
  }
  .product-order  {
    h3 {
      font-size: 20px;
    }
    .product-order-detail {
      .order_detail {
        h4, h5 {
          font-size: 14px;
          line-height: 1.2;
        }
      }
    }
    .total-sec {
      ul {
        li {
          font-size: 16px;
        }
      }
    }
    .final-total {
      h3 {
        font-size: 16px;
      }
    }
  }
  .beauty-about {
    .service {
      .service-block1 {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .main-menu {
    .menu-left {
      .navbar {
        i {
          font-size: 24px;
        }
      }
    }
  }
  .typography_section {
    .typography-box {
      .typo-content {
        &.typo-buttons {
          a {
            &:last-child {
              margin-top: 0;
            }
          }
          .btn-solid {
            &.btn-sm {
              padding: 3px 12px;
            }
          }
        }
      }
    }
  }
  .bundle {
    .bundle_img {
      .img-box {
        img {
          max-width: 70px;
        }
      }
    }
    .bundle_detail {
      .theme_checkbox {
        padding: 0;
      }
    }
  }
  // rtl section //
  .rtl {
    .breadcrumb-section {
      .page-title {
        h2 {
          text-align: center;
        }
      }
    }
    .blog-detail-page {
      .blog-detail {
        .post-social {
          li {
            + li {
              padding-right: 0;
              margin-right: 0;
              border-right: none;
            }
          }
        }
      }
    }
    .collection-product-wrapper {
      .product-top-filter {
        .product-filter-content {
          .product-page-filter {
            border-right: 1px solid $round-border;
          }
          .product-page-per-view, .product-page-filter  {
            select {
              padding: 10px 34px 10px 34px;
            }
          }
        }
        .popup-filter {
          .product-page-per-view {
            border-left: none;
            &:before {
              left: 25px;
            }
          }
        }
      }
    }
    .home-slider, .center-slider {
      .slick-next {
        right: unset;
        left: 1px;
      }
      .slick-prev {
        left: unset;
        right: 1px;
      }
      &:hover {
        .slick-next {
          right: unset;
          left: 30px;
        }
        .slick-prev {
          left: unset;
          right: 30px;
        }
      }
    }
    .layout2-logo {
      padding-left: 0;
    }
    .main-menu {
      .menu-right {
        .icon-nav {
          .mobile-cart {
            .show-div{
              &.shopping-cart {
                left: unset !important;
                right: -118px !important;
              }
            }
          }
          .onhover-div {
            .show-div {
              &.setting {
                right: unset;
                left: 0 !important;
              }
            }
          }
        }
      }
    }
    .layout3-menu {
      .main-menu {
        .menu-left {
          .main-menu-right {
            .toggle-nav {
              right:unset;
              left:15px;
            }
          }
        }
      }
      .brand-logo {
        transform: translateX(-15%);
      }
    }
    .top-header {
      .header-dropdown {
        li {
          i {
            padding-left: 0;
          }
        }
        .mobile-account {
          .onhover-show-div {
            right:unset;
            left:0;
          }
        }
      }
    }
  }
  // dark //
  .dark {
    .collection-product-wrapper {
      .product-top-filter {
        .product-filter-content {
          .product-page-per-view {
            border-color: $dark-border !important;
          }
        }
      }
    }
    .tools-service {
      &.absolute-banner {
        .absolute-bg {
          box-shadow: none;
        }
      }
    }
    .full-banner {
      .banner-contain {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media (min-width: 577px) {
  .rtl {
    .onhover-dropdown {
      &:before {
        right: unset;
        left:3px;
      }
      .onhover-show-div {
        right: unset;
        left:0;
      }
    }
    .main-menu  {
      .menu-left {
        .navbar {
          padding: 40px 0 40px 45px;
        }
      }
      .category-nav-right {
        .navbar {
          padding: 40px 45px 40px 0;
        }
      }
      .menu-right {
        .icon-nav {
          li {
            padding-left: 0;
            padding-right: 20px;
          }
        }
        .onhover-div {
          .show-div {
            &.shopping-cart, &.setting {
              left: 0;
              right: unset;
            }
            &.shopping-cart {
              li {
                .close-circle {
                  right: unset;
                  left:0;
                }
                .total {
                  h5 {
                    span {
                      float: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .breadcrumb-section {
    .page-title {
      text-align: center;
      margin: 0 auto;
      vertical-align: middle;
      display: unset;
      h2 {
        margin-top: -2px;
      }
    }
    .breadcrumb {
      justify-content: center;
      padding: 0;
      line-height: 1;
      margin-top: 10px;
    }
  }
}

@media (max-width: 480px) {
  .title1 {
    .title-inner1 {
      margin-bottom: 20px;
    }
    &.title5 {
      hr[role="tournament6"] {
        margin: 12px auto 20px auto;
      }
    }
  }
  .title2{
    .title-inner2 {
      margin-bottom:20px;
    }
  }
  .title3 {
    .line{
      margin-bottom: 20px;
    }
  }
  .title4 {
    .line{
      margin-bottom: 20px;
    }
  }
  .title-borderless {
    margin-bottom: 20px;
  }
  .service_slide {
    .home-slider {
      .slider-contain {
        height: 55vh;
      }
    }
  }
  .advertise-section {
    .full-banner {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  header {
    &.left-header {
      .main-menu {
        .menu-left {
          .mobile-logo {
            top: 22px;
          }
        }
      }
    }
  }
  .gym-banner {
    .collection-banner {
      .contain-banner {
        > div {
          background-color: rgba($black, 0.5);
          padding: 10px;
        }
        h2 {
          font-size: 20px;
          margin-top: 4px;
        }
        h4 {
          font-size: 14px;
        }
      }
    }
  }
  .subscribe-form {
    &.classic-form {
      .form-control {
        margin-left: 0;
      }
    }
  }
  .product-box {
    .img-block {
      min-height: 290px;
    }
  }
  .theme-tab {
    .tab-title {
      li {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .tab-title2 {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 400;
      li {
        padding-left: 15px;
        padding-right: 15px;
      }
      &:after {
        display: none;
      }
    }
  }
  .blog-details {
    padding-left: 0;
    padding-right: 0;
  }
  .full-banner {
    padding-top: 40px;
    padding-bottom: 40px;
    &.parallax-layout {
      padding-top: 4px;
      padding-bottom: 40px;
    }
    .banner-contain {
      h2 {
        font-size: 60px;
      }
      h4 {
        font-size: 18px;
      }
    }
  }
  .pet-parallax {
    .full-banner {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  .collection-banner {
    .contain-banner {
      padding-left: 30px;
      padding-right: 30px;
      h2 {
        font-size: 24px;
      }
    }
  }
  .home-slider {
    .home{
      height: 55vh;
    }
    .slider-contain {
      height: 55vh;
      h1 {
        font-size: 28px;
      }
      h4 {
        letter-spacing: 0.1em;
      }
      .btn-solid, .btn-outline {
        margin-top: 5px;
      }
    }
    &:hover {
      .slick-prev, .slick-next {
        transform: scale(1.2);
      }
      .slick-next {
        right:60px;
      }
      .slick-prev {
        left: 60px;
      }
    }
  }
  .height-85 {
    .home-slider {
      .home {
        height: 55vh;
      }
      .slider-contain {
        height: 55vh;
      }
    }
  }
  .white-layout {
    .footer-theme2 {
      .footer-block {
        .footer-container {
          max-width: 448px;
        }
      }
    }
  }
  .footer-theme2 {
    &.section-light {
      .footer-block {
        .subscribe-white {
          padding: 30px 30px;
          .form-control {
            letter-spacing: 3px;
          }
        }
      }
    }
  }
  .theme-modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .modal-bg {
            padding: 35px;
            .offer-content {
              img {
                margin-bottom: 10px;
              }
              h2 {
                margin-bottom: 15px;
              }
            }
            .age-content {
              form {
                .form-control {
                  height: 40px;
                  padding: 0;
                }
                .btn-solid, .btn-outline {
                  padding: 8px 15px;
                }
              }
            }
          }
        }
      }
    }
    &.cart-modal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            .modal-bg {
              &.addtocart {
                .media {
                  display: block;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  .theme-tab {
    .tab-content {
      .product-tab {
        .tab-box {
          .product-box2 {
            .media {
              .media-body {
                h4 {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  .tab-bg, .bg-block {
    padding: 35px 25px 30px 25px;
  }
  // inner pages //
  .select_input {
    select {
      padding: 12px 15px;
      margin-bottom: 18px;
    }
  }
  .about-page {
    p {
      line-height: 1.5;
    }
  }
  .testimonial {
    .testimonial-slider {
      .media {
        display: inline-block;
        img {
          margin: 0 auto;
          height: 100px;
          width: 100px;
        }
        .media-body {
          padding: 0;
          text-align: center;
        }
      }
    }
  }
  .blog-detail-page {
    .blog-contact {
      h2 {
        font-size: 30px;
        margin-bottom: 25px;
      }
      .theme-form {
        input, textarea {
          padding: 12px 20px;
          margin-bottom: 20px;
        }
      }
    }
    .blog-detail {
      h3 {
        font-size: 20px;
        margin-bottom: 15px;
      }
      img {
        margin-bottom: 25px;
      }
    }
    .blog-advance {
      ul {
        line-height: 1.5;
      }
      img {
        margin-bottom: 20px;
        margin-top: 10px;
      }
      p {
        line-height: 1.5;
      }
    }
    .comment-section {
      li {
        padding-top: 30px;
        padding-bottom: 30px;
        p {
          line-height: 1.5;
        }
        h6 {
          margin-top: 10px;
          margin-bottom: 10px;
          span {
            display: inherit;
            margin-left: 0;
          }
        }
      }
      .media {
        display: inline-block;
        text-align: center;
      }
    }
  }
  .faq-section {
    .theme-accordion {
      .card {
        .card-body {
          p {
            line-height: 1.5 !important;
          }
        }
        .card-header {
          button {
            line-height: 1.3;
            padding: 12px 35px 12px 12px !important;
          }
        }
      }
    }
    .accordion {
      &.theme-accordion {
        .card {
          .card-header {
            button {
              &:before {
                top:20px;
              }
            }
          }
        }
      }
    }
  }
  .pwd-page {
    padding: 70px 0;
    h2 {
      font-size: 25px;
      margin-bottom: 15px;
    }
  }
  .login-page {
    .authentication-right {
      h6 {
        margin-bottom: 10px;
      }
    }
    .theme-card {
      padding: 25px;
    }
  }
  .register-page {
    .theme-card {
      padding: 18px;
      .theme-form {
        input {
          margin-bottom: 20px;
          padding: 12px 15px;
        }
      }
    }
  }
  .success-text {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 420px) {
  h2 {
    font-size: 22px;
  }
  .home-slider {
    .slider-contain {
      h1 {
        font-size: 25px;
        margin-top: 10px;
      }
      h4 {
        letter-spacing: 0.01em;
      }
      .btn-solid, .btn-outline {
        margin-top: 10px;
        padding: 5px 18px;
      }
    }
    &:hover {
      .slick-prev, .slick-next {
        transform: scale(1.5);
      }
      .slick-next {
        right: 50px;
      }
      .slick-prev {
        left: 50px;
      }
    }
  }



}

@media (max-width: 360px){

  h2 {
    font-size: 25px;
  }
  .home-slider {
    .home {
      height: 50vh;
    }
    .slider-contain {
      height: 50vh;
      h1 {
        font-size: 25px;
      }
      .btn-solid, .btn-outline {
        margin-top: 8px;
        padding: 5px 15px;
      }
    }
    &:hover {
      .slick-prev, .slick-next {
        transform: scale(1.1);
      }
      .slick-next {
        right:40px;
      }
      .slick-prev {
        left: 40px;
      }
    }
  }

}