/*-------------------------------------------
    33. Kazissupermarket Responsive Design CSS
-------------------------------------------*/

/*=====================================
    Extra Large Screen
========================================*/

  @media only screen and (min-width: 1920px){
  }

/*=====================================
    For Large Screen
========================================*/

  /*------Max 1200px Width Screen------*/

  @media only screen and (max-width: 1775px) {

  }

/*--------Max 1680px Width Screen---------*/
@media only screen and (max-width: 1680px) {

}
/*--------Max 1600px Width Screen---------*/
@media only screen and (max-width: 1600px) {

}

/*--------Min 1600px Width Screen---------*/
@media only screen and (min-width: 1600px) {
  .dashboard-home-page .container-fluid {
    padding: 0 120px;
  }
  
}

/*--------Max 1366px Width Screen---------*/
@media(max-width: 1367px) {
  h2 {
    font-size: 32px;
  }
  .home-slider {
    &:hover {
      .slick-prev, .slick-next {
        transform: scale(1.8);
      }
    }
  }
}

@media only screen and (max-width: 1366px) {

  /*Default for Max 1366px Width Devices*/
  h4 {
    font-size: 22px;
  }

}

@media only screen and (min-width: 1200px) and (max-width: 1366px){

}

/*--------Max 1200px Width Screen---------*/

  @media only screen and (max-width: 1200px) {
    body {
      font-size: 14px;
    }
    h2.section-heading {
      font-size: 40px;
    }
    p.section-subheading{
      font-size: 16px;
    }
    h4 {
      font-size: 21px;
    }

  }

/*--------Min 1200px Width Screen--------*/
  @media only screen and (min-width: 1200px) {

  }

/*=====================================
    For Medium Screen
========================================*/

@media only screen and (max-width: 1199px){
    section ,.section-t-space{
    padding-top: 60px;
  }
  .section-b-space {
    padding-bottom: 60px;
  }
  .home-slider {
    .home {
      .slider-contain {
        h1 {
          font-size: 35px;
        }
        p {
          max-width: 450px;
          font-size: 14px;
        }
        .btn-solid {
          padding: 10px 15px;
        }
      }
    }
  }
  .payment-images li a img {
    height: 22px;
  }
  // Nav CSS
  .category-box {
    padding: 15px 0!important;
  }
  #mainNav .container, .top-bar .container, .bottom-nav .container {
    max-width: 100%;
  }
  .menu-section-area form.form-inline input {
    width: auto!important;
    min-width: 250px!important;
  }
  .home-slider .home, .home-slider .slider-contain, .categories-nav {
    height: 450px!important;
  }
  .categories-nav ul {
    height: 320px!important;
  }
  .categories-nav h5 {
    font-size: 16px;
  }
  .categories-nav h6 {
    font-size: 15px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1199px){
  /*Domain Area CSS*/
  p{
    font-size: 14px;
  }

}

@media only screen and (max-width: 992px) {
  #mainNav .navbar-brand {
    margin: 0 20px 0 0;
  }
  .middle-nav-right-list li {
    margin: 0 0 0 15px!important;
  }
}

/*======================================
        Tablet layout
=========================================*/
@media only screen and (max-width: 991px) {
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 28px;
  }
  section ,.section-t-space{
    padding-top: 50px;
  }
  .section-b-space {
    padding-bottom: 50px;
  }

  /*Menu CSS*/
  #mainNav .navbar-brand img {
    height: 45px;
  }
  #mainNav {
    padding: 0;
  }
  .desktop-logo, .middle-nav-wrap{
    display: none;
  }
  .mobile-logo{
    display: block;
  }
  #mainNav .navbar-brand {
    margin: 0 20px 0 30px!important;
  }
  .cart-small-view {
    margin-right: 0;
  }
  .contact-address-wrap {
    margin-bottom: 30px;
  }

  // Customer Dashboard CSS
  .dashboard-menu-wrap {
    overflow-x: scroll;
    padding-bottom: 20px !important;
  }
  .dashboard-left-menu-list {
    min-width: 1200px;
    width: 100%;
  }
  .dashboard-left-menu-list li {
    display: inline-block;
  }
  .dashboard-left-menu-list li a {
    padding: 5px 12px;
    display: block;
  }


}
@media only screen and (min-width: 991px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .menu-section-area form.form-inline input {
    width: 450px !important;
  }
}

@media only screen and (max-width: 768px) {
    /*Main Menu Bar*/
}

/*=======================================
        For Small Devices
=========================================*/
  @media only screen and (max-width: 767px) {

    .login-area form {
	    width: 100%;
    }
    #mainNav {
      padding: 0;
    }
    .cart-small-view, .middle-nav-left-list li a, .bottom-nav .col-12 ul > li a {
      font-size: 14px !important;
    }
    .cart-small-view svg {
      height: 14px !important;
    }
    .menu-section-area form.form-inline input {
      width: auto;
    }
    .home-slider .home, .home-slider .slider-contain, .categories-nav {
	    height: 350px !important;
	    min-height: 350px !important;
    }
    .what-clients-say-slider {
      margin-top: 30px;
    }

  section ,.section-t-space{
    padding-top: 40px;
  }
  .section-b-space {
    padding-bottom: 40px;
  }
  
  .home-slider {
    &.fullpage {
      .slick-dots {
        display: flex;
        bottom: 70px;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        li {
          button {
            &:before {
              color: #0a0100;
            }
          }
        }
      }
    }
  }
  .home-slider {
    &:hover {
      .slick-next {
        right:80px;
      }
      .slick-prev {
        left: 80px;
      }
    }
  }
  .tap-top {
    bottom: 70px;
    right: 20px;
  }

  /*Footer CSS*/
  .footer-widget {
    border-bottom: 1px solid rgba(44, 212, 217, .2);
    padding: 0 0 30px 0;
    margin-bottom: 30px;
  }
  .subscribe-area {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
  .footer-bottom-part {
    flex-direction: column;
  }
  .bottom-footer-left {
    margin-bottom: 20px;
  }

  /* Style started from here */
  .home-deals-product-area .section-title p {
    margin-bottom: 30px!important;
  }
  .advartise-img-wrap {
    margin-bottom: 20px;
  }
  .subscribe-area p {
    margin: 15px 0;
  }

    // Customer Dashboard CSS
  .customer-dashboard-right-content ul.top-list {
    flex-direction: column;
  }
  .customer-dashboard-right-content ul.top-list li {
    margin-bottom: 15px;
  }
  #tickets-table_length {
    margin-bottom: 20px;
  }

}

  /*========================================
    For large mobile
  =========================================*/

@media only screen and (max-width: 766px){

}

@media (max-width: 577px) {
  .section-b-space {
    padding-bottom: 30px;
  }
  section, .section-t-space {
    padding-top: 30px;
  }
  h2 {
    font-size: 24px;
  }
  .home-slider {
    .home {
      height: 58vh;
    }
    .slider-contain {
      height: 58vh;
      h1 {
        font-size: 30px;
      }
    }
    &:hover {
      .slick-next {
        right:70px;
      }
      .slick-prev {
        left: 70px;
      }
      .slick-prev, .slick-next {
        transform: scale(1.5);
      }
    }
    &.fullpage {
      .slick-dots {
        display: flex;
        bottom: 60px;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
      }
      .home {
        .slider-contain {
          text-align: center;
          justify-content: center;
          padding-left: 0;
          > div {
            background-color: rgba(0, 0, 0, 0.15);
            padding: 30px 50px;
          }
          h1, p {
            color: $white;
          }
          h1 {
            font-size: 22px;
          }
          p {
            max-width: 330px;
            font-size: 12px;
          }
          .btn-solid {
            padding: 10px 15px;
          }
        }
      }
    }
  }
  .tap-top {
    width: 35px;
    height: 35px;
    padding: 2px;
    font-size: 19px;
  }

  .slider-right-nav {
    .slick-slide {
      &:first-child {
        > div {
          margin-top: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px){
  .breadcrumb-section {
    .page-title {
      text-align: center;
      margin: 0 auto;
      vertical-align: middle;
      display: unset;
      h2 {
        margin-top: -2px;
      }
    }
    .breadcrumb {
      // justify-content: center;
      padding: 0;
      line-height: 1;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
}
@media only screen and (max-width: 535px) {
   
}

@media only screen and (max-width: 510px){
}

/*=========================================
        For very little mobile
=========================================*/
  @media only screen and (max-width:480px){
    #mainNav .navbar-brand {
      margin: 0 10px 0 30px !important;
    }
    .home-slider {
    .home{
      height: 55vh;
    }
    .slider-contain {
      height: 55vh;
      h1 {
        font-size: 28px;
      }
      h4 {
        letter-spacing: 0.1em;
      }
      .btn-solid, .btn-outline {
        margin-top: 5px;
      }
    }
    &:hover {
      .slick-prev, .slick-next {
        transform: scale(1.2);
      }
      .slick-next {
        right:60px;
      }
      .slick-prev {
        left: 60px;
      }
    }
  }
    
  }
  @media (max-width: 360px){

  h2 {
    font-size: 25px;
  }
  .home-slider {
    .home {
      height: 50vh;
    }
    .slider-contain {
      height: 50vh;
      h1 {
        font-size: 25px!important;
      }
      .btn-solid, .btn-outline {
        margin-top: 8px;
        padding: 5px 15px;
      }
    }
    &:hover {
      .slick-prev, .slick-next {
        transform: scale(1.1);
      }
      .slick-next {
        right:40px;
      }
      .slick-prev {
        left: 40px;
      }
    }
  }

}

  @media only screen and (min-width:300px) and (max-width:460px){
   #mainNav .navbar-brand {
      margin: 0 20px 0 20px !important;
    }
    
  }
  @media only screen and (min-width:300px)  and (max-width:455px){
    div.product {
      float: none!important;
      margin: 0 auto 45px!important;
    }
    .cart-small-view {
      padding: 0;
    }
    
  }
  @media only screen and (min-width:300px) and (max-width:479px){
    .menu-section-area form.form-inline input {
      min-width: 225px !important;
    }
    .user-name {
      display: none;
    }
    
  }
  @media only screen and (min-width:320px) and (max-width:430px){
  .menu-section-area form.form-inline input {
    width: 150px !important;
    min-width: 150px !important;
  }
  #mainNav .navbar-toggler {
    margin: 0 4px 0 0 !important;
  }
  #mainNav .navbar-brand {
    margin: 0 4px 0 30px !important;
  }
  .search-page-sort .custom-select {
    width: 50%!important;
    max-width: 50%!important;
  }
  .product-details-photo-tab .nav-tabs li a img {
    height: 46px;
  }
    
}

@media (max-width: 420px) {
  h2 {
    font-size: 22px;
  }
  .home-slider {
    .slider-contain {
      h1 {
        font-size: 25px;
        margin-top: 10px;
      }
      h4 {
        letter-spacing: 0.01em;
      }
      .btn-solid, .btn-outline {
        margin-top: 10px;
        padding: 5px 18px;
      }
    }
    &:hover {
      .slick-prev, .slick-next {
        transform: scale(1.5);
      }
      .slick-next {
        right: 50px;
      }
      .slick-prev {
        left: 50px;
      }
    }
  }
}

@media only screen and (min-width:320px) and (max-width:399px){
  .cart-small-view {
    margin-right: 0!important;
    margin-left: 0!important;
    padding: 0;
  }
}
@media only screen and (max-width:320px){
  .cart-small-view, .cart-small-view:hover, .cart-small-view.btn-secondary:focus, .btn-secondary.focus, .cart-small-view.btn-secondary:not(:disabled):not(.disabled):active {
    margin-left: 0!important;
  }
  #mainNav .navbar-brand {
    margin: 0 8px 0 13px !important;
  }
    
}
  /*-------------------------------------------
  24. Responsive Design End
  -------------------------------------------*/